<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Fil d'actualité

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="welcome-card" *ngFor=" let actualite of aActualite" >
    <ion-card-header>
      
      <ion-card-title ><a href="/show-annonce/{{actualite.id}}" routerDirection="forward">{{ actualite.titre }}</a></ion-card-title>
      <ion-card-subtitle>{{actualite.date | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-img src="./assets/{{actualite.image}}"></ion-img>
    <ion-card-content>
      <p>{{ (actualite.description.length>100)? (actualite.description | slice:0:100)+' ...':(actualite.description) }}</p>
    </ion-card-content>
  </ion-card>
  <ion-button color="danger"  [href]="'/home'" routerDirection="backword">Back</ion-button>

</ion-content>

